html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  background-color: #FADED0;
  background-image: url('./Styles/assets/tambayan-desktop-graphics-x2.png');
  background-position: top;
  background-size: contain;  
  background-repeat: no-repeat;
  overflow-y: hidden;
  @media (max-width: 500px) {
    background-image: none;
  }
}

img {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.fas {
  font-size: 2.5rem;
  color: rgb(87, 96, 171);

}

canvas,
button,
html {
  outline: none;
}

canvas {

  &:hover,
  &:focus {
    outline: none;
     -moz-outline-style: none;
  }
  background-color: #F9E6D8;
}

.canvas {
  outline: none;
}

.App {
  max-width: 900px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;  
  // @media (max-width: 500px) {
  //   max-height: 100vh;
  //   overflow-y: hidden;
  // }

  h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .logo {
    padding-top: 50px;    
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    @media (max-width: 500px) {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 175px;
    }
  }

  .mobile-top-img {
    display: none;
    @media (max-width: 500px) {
      display: block;
      padding: 0px 0 0px 0;
      max-width: 25%;
      margin: 0 auto;
    }
  }
  .mobile-bottom-img {
    display: none;
    @media (max-width: 500px) {
      display: block;
      max-width: 20%;
      margin: 0 auto;
      padding-top: 30px;
    }
  }

  .score-main {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #5760AB;
    text-shadow: 1px 1px 1px white;
    @media (max-width: 500px) {
      margin-top: 10px;
    }
  }

  .game-over {
    padding: 20px 15px 20px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;    
    background-color: #FADED0;
    background-image: url('./Styles/assets/tambayan-desktop-graphics-x2.png');
    background-position: top;
    background-size: contain;  
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    // overflow-y: scroll;
    @media (max-width: 500px) {
      background-image: none;
      height: 100%;
      // min-height: 100vh;
      // overflow-y: scroll;
    }

    .logo {
      padding-top: 0px;
      width: 20%;
      @media (max-width: 500px) {
      width: 50%;
      }
    }

    h2 {
      margin-top: 20px;
      padding: 10px 0 0 0;
      color: #5760AB;  
      font-size: 1.8rem;
      @media (max-width: 500px) {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
      }
    }

    .thanks {
      padding: 5px 0;
      font-size: 1.6rem;
      text-align: center;
      margin: 0 auto;
      width: 43%;
      @media (max-width: 500px) {
        width: 90%;
      }
      p {        
        font-size: 1.6rem; 
        color: #5760AB;      
        font-family: 'Syne', sans-serif !important;
        padding: 10px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);        
        @media (max-width: 500px) {
          font-size: 1.5rem;
        }
      }

      p:nth-of-type(1) {        
        margin-top: 20px;
      }
      p:nth-of-type(3) {        
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .mobile-bottom-img-game-over {
      display: none;
      @media (max-width: 500px) {
        display: block;
        max-width: 20%;
        margin: 0 auto;
        padding-top: 20px;
      }
    }
  }

  .score {
    padding: 20px 0 10px 0;
    color: #5760AB;
    margin: 0 auto;
    width: 43%;
    @media (max-width: 500px) {
      width: 90%;
    }
    
    p {
      font-size: 1.4rem;
    }
    
    p:nth-of-type(1) {
      padding: 5px;
      background-color: rgba(255,255,255,0.3);  
    }
    p:nth-of-type(2) {
      padding-top: 10px;  
    }

  }
  .winner
  .loser {
    padding-top: 40px;
    font-size: 1.4rem;      
    font-family: 'Syne', sans-serif !important;
    color: #5760AB;
  }

  .play-again {
    background: #F4763A;
    border: 3px solid #F4763A;
    color: rgba(255,255,255,0.8);    
    padding: 5px 8px;
    box-shadow: 1px 2px 1px white;
    // @media (max-width: 500px) {
    //   display: none;
    // }
  }

  .start-button {
    background: none;
    background-color: #5760AB;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    border-radius: 2px;
    border: none;
    transition: 0.3s ease-in-out;
    @media (max-width: 500px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0;
      padding: 15px 20px;
      font-size: 1.6rem;
    }

    &.hidden {
      opacity: 0;
    }
  }
}